@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Formation</title>
    <link rel="stylesheet" href="/Content/css/style.css" />
</head>
<body>
    <div class="page-frame">
        <h1>Nu skal der kodes!</h1>
        <p>I det følgende er det i orden at studere den kode, der findes i projektet, <strong>men det er strengt forbudt at copy-paste noget-som-helst</strong>.</p>
        <ol>
            <li>Lav en ny controller ved at højreklikke på Controllers-mappen og vælge "Add" > "Controller". Navngiv den på en måde, så den knytter sig til dit navn, og slutter med "Controller".</li>
            <li>Tilføj en ny action ved at skrive den nødvendige kode.</li>
            <li>Tilføj et view, som passer til actionen.</li>
            <li>Tryk play, og gå ind på den adresse, der passer til actionen.</li>
            <li>Øvelsen er gennemført, når din side vises korrekt.</li>
        </ol>
    </div>
</body>
</html>
