@model dynamic

@{
    Layout = null;
}

@functions
{

    public string ListAsText(List<int> numbers)
    {
        return String.Join(", ", numbers);
    }

}

<!DOCTYPE html>

<html>
    <head>
        <title>For basic examples</title>
    </head>
    <body>
        <div>
            <p>Eksklusiv endCount: @ListAsText(Model.ExcludingEndCount)</p>
            <p>Inklusiv endCount: @ListAsText(Model.IncludingEndCount)</p>
            <p>Big steps: @ListAsText(Model.OddSteps)</p>
            <p>Countdown: @ListAsText(Model.CountDown)</p>
        </div>
    </body>
</html>