@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>If basic example</title>
    </head>
    <body>
        <div>
            <h1>Basale anvendelsesmuligheder med if</h1>
            <h2>(reload for nyt resultat)</h2>
            <p>Sort terning værdi: @Model.Black.Value</p>
            <p>Hvid terning værdi: @Model.White.Value</p>
            <p>Vinder: @Model.Winner</p>
            <p>@Model.Equality</p>
        </div>
    </body>
</html>