@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
    <head>
        <title>Code examples</title>
    </head>
    <body>
        <div>
            <h1>Kode-eksempler</h1>
            <ul>
                <li>@Html.ActionLink("If - basale eksempler", "IfBasicExamples", "CodeExamples")</li>
                <li>@Html.ActionLink("For - basale eksempler", "ForBasicExamples", "CodeExamples")</li>
                <li>@Html.ActionLink("Foreach - basale eksempler", "ForeachBasicExamples", "CodeExamples")</li>
            </ul>
        </div>
    </body>
</html>