body {
    font-family: sans-serif;
    font-size: 18px;
    line-height: 1.4em;
}

.page-frame {
    width: 800px;
    margin: 0 auto;
}

li {
    margin-bottom: 1em;
}

.code {
    font-family: monospace;
    font-weight: bolder;
}

.path {
    background-color: blueviolet;
}

.cyan {
    color: #50a5a0;
    font-weight: lighter;
}

.keyboard {
    font-family: monospace;
    font-weight: bold;
    border: 1px solid outset;
    background-color: #eee;
    padding: 2px 5px;
}